<p-tabView orientation="left">
    <p-tabPanel header="Scrum" [headerStyle]="{'border': '1px solid', 'padding-left':'30%', 'font-size':'1.1em', 'margin-top':'20px', 'margin-left':'5%', 'margin-right':'5%', 'width':'90%'}">
       <p>
          AGILE
          Agile software development refers to a group of software development methodologies based on iterative development, where requirements and solutions evolve through collaboration between self-organizing cross-functional teams. Agile methods or Agile processes generally promote a disciplined project management process that encourages frequent inspection and adaptation, a leadership philosophy that encourages teamwork, self-organization and accountability, a set of engineering best practices intended to allow for rapid delivery of high-quality software, and a business approach that aligns development with customer needs and company goals. Agile development refers to any development process that is aligned with the concepts of the Agile Manifesto. The Manifesto was developed by a group fourteen leading figures in the software industry, and reflects their experience of what approaches do and do not work for software development. Read more about the Agile Manifesto.
          SCRUM
          Scrum is a subset of Agile. It is a lightweight process framework for agile development, and the most widely-used one.
          A “process framework” is a particular set of practices that must be followed in order for a process to be consistent with the framework. (For example, the Scrum process framework requires the use of development cycles called Sprints, the XP framework requires pair programming, and so forth.)
          “Lightweight” means that the overhead of the process is kept as small as possible, to maximize the amount of productive time available for getting useful work done.
          A Scrum process is distinguished from other agile processes by specific concepts and practices, divided into the three categories of Roles, Artifacts, and Time Boxes. These and other terms used in Scrum are defined below. Scrum is most often used to manage complex software and product development, using iterative and incremental practices. Scrum significantly increases productivity and reduces time to benefits relative to classic “waterfall” processes. Scrum processes enable organizations to adjust smoothly to rapidly-changing requirements, and produce a product that meets evolving business goals. An agile Scrum process benefits the organization by helping it to
          Increase the quality of the deliverables
          Cope better with change (and expect the changes)
          Provide better estimates while spending less time creating them
          Be more in control of the project schedule and state
       </p>
       <p>
          It works by breaking projects down into little bits of user functionality 
          called user stories, prioritizing them, and then continuously delivering them in short two week cycles called iterations.
       </p>
    </p-tabPanel>
    <p-tabPanel header="Kanban" [headerStyle]="{'border': '1px solid', 'padding-left':'30%', 'font-size':'1.1em', 'margin-left':'5%', 'margin-right':'5%', 'width':'90%'}">
       <p>
          Kanban is a visual system for managing work as it moves through a process. Kanban visualizes both the process (the workflow) and the actual work passing through that process. The goal of Kanban is to identify potential bottlenecks in your process and fix them so work can flow through it cost-effectively at an optimal speed or throughput.
       </p>
       <p>
          It all started in the early 1940s. The first Kanban system was developed by Taiichi Ohno (Industrial Engineer and Businessman) for Toyota automotive in Japan. It was created as a simple planning system, the aim of which was to control and manage work and inventory at every stage of production optimally.

          A key reason for the development of Kanban was the inadequate productivity and efficiency of Toyota compared to its American automotive rivals. With Kanban, Toyota achieved a flexible and efficient just-in-time production control system that increased productivity while reducing cost-intensive inventory of raw materials, semi-finished materials, and finished products.
       </p>
    </p-tabPanel>
    <p-tabPanel header="Glossary" [headerStyle]="{'border': '1px solid', 'padding-left':'30%', 'font-size':'1.1em', 'margin-left':'5%', 'margin-right':'5%', 'width':'90%'}" >
        <p-tabView> 
          <p-tabPanel header="A"></p-tabPanel>
          <p-tabPanel header="B"></p-tabPanel>
          <p-tabPanel header="C"></p-tabPanel>
          <p-tabPanel header="D"></p-tabPanel>
          <p-tabPanel header="E"></p-tabPanel>
          <p-tabPanel header="F"></p-tabPanel>
          <p-tabPanel header="G"></p-tabPanel>
          <p-tabPanel header="D"></p-tabPanel>
          <p-tabPanel header="H"></p-tabPanel>
          <p-tabPanel header="I"></p-tabPanel>
          <p-tabPanel header="J"></p-tabPanel>
          <p-tabPanel header="K"></p-tabPanel>
        </p-tabView>
    </p-tabPanel>
</p-tabView>
