/* You can add global styles to this file, and also import other style files */
@import '~primeng/resources/themes/omega/theme.css';

body {
  margin: 5px;
  background: #F2F2F2;
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
 
}

#container {
  display: grid;
}

#container a {
  font-size: 1.0em;
  text-decoration: none;
  font-weight: normal;
  
  margin-right: 25px;
 
}

#card a {
  font-size: 1.0em;
  text-decoration: none;
  font-weight: bold;
  color:#00A8FF;
  color:rgb(129, 240, 77);
  margin: 0px 5px 0px 35%;
  text-align: auto;
 
}