
<div class="ui-g">
  <div class="ui-g-4">
    <p-card title="Anita Guha" styleClass="ui-card-shadow">
      <p-header>
        <img src="Card" src="assets/images/team/anita.JPG" [style]="{width: '150px'}">
    </p-header>
    <div>
      Anita has been a Scrum Master with our Kolkata SMC for more than 4 years now. She started her career as a QA before moving on to
      the role of a Scrum Master. Her hobbies are Hobby 1 and Hobby 2.
    </div>
    <p-footer>
      She manages following teams.
      <p>Mobile View, Mobile Architecture, Mobile Forms</p>
    </p-footer>
    </p-card>
  </div>

  <div class="ui-g-4">
    <p-card title="Arindam Chakrabarti" styleClass="ui-card-shadow">
      <p-header>
        <img src="Card" src="assets/images/team/arindam.jpg" [style]="{width: '150px'}">
    </p-header>
    <div>
      Arindam has been a Scrum Master with our Kolkata SMC for more than 6 years now. Before taking on the current role he served 
      as QA and team lead. His favorite pastime is photography.
    </div>
    <p-footer>
      He manages following teams.
      <p>DAX, Team B </p>
    </p-footer>
    </p-card>
  </div>

  <div class="ui-g-4">
    <p-card title="Dipankar Das" styleClass="ui-card-shadow">
      <p-header>
        <img src="Card" src="assets/images/team/dipankar.jpg" [style]="{width: '150px'}">
    </p-header>
    <div>
     Dipankar is the manager of the Scrum Master's community here at Kolkata facility. He was a developer before shifting gears. He 
     professes a deep interest in astrophysics. 
    </div>
    <p-footer>
      He is a leader for <p>Kolkata SMC</p>
    </p-footer>
    </p-card>
  </div>

  <div class="ui-g-4">
    <p-card title="Soumya Sikder" styleClass="ui-card-shadow">
      <p-header>
        <img src="Card" src="assets/images/team/soumya.jpg" [style]="{width: '150px'}">
    </p-header>
    <div>
     Soumya has been a Scrum Master for more than 5 years. He hails from development background and still does extensive
     programming for our community. His interests are varied and he is an ardent workout enthusiast.
    </div>
    <p-footer>
      He manages following teams.
      <p>Team A, Team B and Team C </p>
    </p-footer>
    </p-card>
  </div>

  <div class="ui-g-4">
    <p-card title="Subrata Roychowdhury" styleClass="ui-card-shadow">
      <p-header>
        <img src="Card" src="assets/images/team/subrata.JPG" [style]="{width: '150px'}">
    </p-header>
    <div>
     Subrata is the senior agile coach at Kolkata SMC. He has a development background and was team lead for various projects prior to 
     his current role. His favorite pastime is reading.
    </div>
    <p-footer>
      He manages following teams.
      <p>Team A, Team B and Team C </p>
    </p-footer>
    </p-card>
  </div>

  <div class="ui-g-4">
    <p-card title="Suvonkar Dam" styleClass="ui-card-shadow">
      <p-header>
        <img src="Card" src="assets/images/team/suvonkar.jpg" [style]="{width: '150px'}">
    </p-header>
    <div>
     Suvonkar has been with the community for over 3 years now. Apart from being an able SM he is an ardent programmer.
     He does extensive development for the community. He has great deal of interest in football.
    </div>
    <p-footer>
      He manages following teams.
      <p>Team A, Team B and Team C </p>
    </p-footer>
    </p-card>
  </div>

  <div class="ui-g-4">
    <p-card title="Vikrant Chopra" styleClass="ui-card-shadow">
      <p-header>
        <img src="Card" src="assets/images/team/vikrant.JPG" [style]="{width: '150px'}">
    </p-header>
    <div>
     Vikrant has been with the community for 6 years now. He comes from a development background. His interests are sports and reading.
    </div>
    <p-footer>
      He manages following teams.
      <p>Indus, Rhine and Nile </p>
    </p-footer>
    </p-card>
  </div>
</div>
