<div id="card">
  <div class="ui-g">
    <div class="ui-g-4">
      <p-card styleClass="ui-card-shadow">
        <p-header>
          <a routerLink="">Agile Overview</a>
        </p-header>
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
          quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</div>

          <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
              quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</div>
        <p-footer>
          Footer
        </p-footer>
      </p-card>
    </div>

   <div class="ui-g-4">
      <p-card styleClass="ui-card-shadow">
        <p-header>
          <a routerLink="">Books, Articles and Blogs</a>
        </p-header>
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
          quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</div>

          <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
              quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</div>
        <p-footer>
          Footer
        </p-footer>
      </p-card>
    </div>


    <div class="ui-g-4">
        <p-card styleClass="ui-card-shadow">
          <p-header>
            <a routerLink="">Workshops & Trainings</a>
          </p-header>
          <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
            quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</div>

            <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
                quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</div>
          <p-footer>
            Footer
          </p-footer>
        </p-card>
      </div>
  </div>

</div>